<!doctype html>
<html lang="en" ng-app="nodetest">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">

    <title> Node Test </title>
</head>

<body>
    <h1 class="title"> Title </h1>
    <div class="container">
        <div class="row" ng-controller="contentController">
            <div class="col">
                <ul class="list-group json-list">
                    <li class="list-group-item"
                        ng-class="{'list-group-item-danger':$first,
                                   'list-group-item-info' :calcMiddle($index),
                                   'list-group-item-success':$last,
                                   'list-group-item-warning' :checkFibonacci($index)}"
                        ng-repeat="content in contentList | contentFilter: content">
                        {{content.data}}
                    </li>
                </ul>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Text Input" aria-label="Recipient's username" ng-model="textItem" ng-false-value="null">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary" ng-click="addToList()"> Add </button>
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="displayFilter" ng-model="content[display]">
                    <label class="form-check-label" for="displayFilter">
                        Display Filter
                    </label>
                </div>
                <div class="custom-content">
                    <p> Nothing to see here! </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="optional-button">
                <a class="btn btn-primary btn-lg btn-block" href="https://en.wikipedia.org/wiki/The_Simpsons" target="_blank"> Optional Link </a>
            </div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js" integrity="sha256-zBy1l2WBAh2vPF8rnjFMUXujsfkKjya0Jy5j6yKj0+Q="
        crossorigin="anonymous"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/services/contentService.js"></script>
    <script src="scripts/controllers/contentController.js"></script>
</body>

</html>
